.chat-message {
    background-color: #e5c86f;
    /*background-color: #e8ca68;*/
    /*background-color: #ade86d;*/
    border: 1px solid lightgray;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}

.chat-message:hover {
    background-color: #7585F4;
    color: white;
    cursor: pointer;
}

#messages {
    max-height: 80vh;
    height: 80vh;
    overflow: scroll;
}

body {
    background-image: url('../../assets/img/chatboxBackground.gif');
    background-size: cover;
    max-height: 90vh;
    height: 100%;
}

@media  {

}

@media only screen and (max-width: 480px) {
    #textAreaDiv {
        width: 68%;
        margin-left: 15px;
    }
    #sendButtonDiv {
        width: 12%;
    }
    #sendImageDiv {
        width: 12%;
    }
    #send, #sendImage {
        width: 100%;
        height: 100%;
    }
}
@media only screen and (min-width: 480px) {
    #textAreaDiv {
        width: 70%;
        margin-left: 15px;
    }
    #sendImageDiv {
        width: 12%;
    }

    #sendButtonDiv {
        width: 12%;
    }
    #send , #sendImage{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #textAreaDiv {
        width: 83%;
        margin-left: 15px;
    }
    #sendImageDiv {
        width: 7%;
        margin-left: 1px;
    }

    #sendButtonDiv {
        width: 7%;
    }
    #send, #sendImage {
        width: 100%;
        height: 100%;
    }
}